params {
    sample_id     = "testrun"
    transcriptome = "/root/nextflow_spatial/input/transcript_ref"
    probe_set     = "/root/nextflow_spatial/input/probe_set.csv"
    fastq_dir     = "/root/nextflow_spatial/input/datasets/fastq_data"
    image_file    = "/root/nextflow_spatial/input/datasets/input_image.jpg"
    slide_sp = "V11J26-127"
    area_sp="B1"
    genes = ""
    annot_ref = "/root/nextflow_spatial/input/annot_ref.rds"
    run_annotation = false
    outdir = "../results"
    
}
