params {
    sample_id     = "testrun"
    transcriptome = "../Spaceranger/FFPE_tut/refdata-gex-mm10-2020-A"
    probe_set     = "../Spaceranger/spaceranger-3.1.3/probe_sets/Visium_Mouse_Transcriptome_Probe_Set_v1.0_mm10-2020-A.csv"
    fastq_dir     = "../Spaceranger/FFPE_tut/datasets/Visium_FFPE_Mouse_Brain_fastqs"
    image_file    = "../Spaceranger/FFPE_tut/datasets/Visium_FFPE_Mouse_Brain_image.jpg"
    
}
